.row {
  margin: 0 200px;
  max-width: 1000px;
  width: 100%;
}
@media (max-width: 1000px) {
  .row {
    margin: 0 50px;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
  grid-template-rows: 350px;
}

.pricingTable {
  display: block;
  border: solid #dddddd;
  width: 300px;
  cursor: pointer;
  background-color: #f6f6f6;
  /* margin-top: 20px; */
}
img.image {
  /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
  filter: grayscale(100%); /* IE5+ */
}

img:hover {
  filter: grayscale(0%);
}

.credit {
  font-size: 30px;
  background-color: #333333;
  text-align: center;
  color: white;
}
.price {
  background-color: #f6f6f6;
  color: #333333;
  font-family: "Droid Arabic Naskh", Tahoma, Verdana, serif;
  font-size: 2.28571rem;
  font-weight: normal;

  text-align: center;
}
.Next {
  background-color: #f39c11;
  color: white;
  float: right;

  border-color: #df8d0b;
  border-style: solid;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.previous {
  background-color: #f39c11;
  color: white;
  float: left;

  border-color: #df8d0b;
  border-style: solid;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.Cancel {
  background-color: #e84c3d;
  color: white;
  float: left;

  border-color: #e84c3d;
  border-style: solid;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.Cancel:hover {
  background-color: #f12f1e;
}
.Next:hover,
.previous:hover {
  background-color: #d38014;
}
.Next .previous {
  border-color: #df8d0b;
}
.reservationDetails {
  background-color: #757374;
  height: 125px;
  width: 100%;
}
.stages {
  margin-left: 300px;
  padding: 0;
  font-size: 80%;
  width: 100%;
  text-transform: uppercase;
  background-color: #757374;
}

.circle {
  display: inline-block;
  background: #efefef;
  margin-right: 60px;
  text-align: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.circle::before {
  position: relative;
  display: block;

  top: 15px;
  width: 275%;
  height: 2px;
  content: "";
  right: 275%;
  background-color: #efefef;
  color: "#efefef";
}
.stages :first-child.circle {
  background-color: #45c9ff;
}
.stages :nth-child(2).circle {
  background-color: #45c9ff;
}
.stages :nth-child(3).circle {
  background-color: #45c9ff;
}

.stages :first-child.circle p {
  color: #45c9ff;
}
.stages :nth-child(2).circle p {
  color: #45c9ff;
}
.stages :nth-child(3).circle p {
  color: #45c9ff;
}
.stages :first-child.circle::before {
  height: 0;
}
.stages :nth-child(2).circle::before {
  background-color: #45c9ff;
}
.stages :nth-child(3).circle::before {
  background-color: #45c9ff;
}

.fontawesome {
  margin-top: 10px;
  color: #45c9ff;
}
.stages :first-child.circle .fontawesome {
  color: #efefef;
}
.stages :nth-child(2).circle .fontawesome {
  margin-top: 8px;
  color: #efefef;
}
