.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
  grid-template-rows: 350px;
  background-color: white;
}

.pricingTable {
  display: block;
  border: solid 1px #dddddd;
  width: 300px;
  cursor: pointer;

  /* margin-top: 20px; */
}
img.image {
  /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
  filter: grayscale(100%); /* IE5+ */
}

img:hover {
  filter: grayscale(0%);
}

.credit {
  font-size: 30px;
  background-color: #333333;
  text-align: center;
  color: white;
}
.price {
  background-color: #f6f6f6;
  color: #333333;
  font-family: "Droid Arabic Naskh", Tahoma, Verdana, serif;
  font-size: 2.28571rem;
  font-weight: normal;

  text-align: center;
}
.Next {
  background-color: #f39c11;
  color: white;
  float: right;

  border-color: #df8d0b;
  border-style: solid;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.previous {
  background-color: #f39c11;
  color: white;
  float: left;

  border-color: #df8d0b;
  border-style: solid;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.Cancel {
  background-color: #e84c3d;
  color: white;
  float: left;

  border-color: #e84c3d;
  border-style: solid;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.Cancel:hover {
  background-color: #f12f1e;
}
.Next:hover,
.previous:hover {
  background-color: #d38014;
}
.Next .previous {
  border-color: #df8d0b;
}
