.available {
  border: 1px solid #25a9df;
  background-color: #ffffff;
}
.available:hover {
  background-color: #999;
}

.booked {
  border-color: #25a9df;
  border: 1px solid #25a9df;
  background-color: #25a9df;
}

.unavailable {
  background-color: #dddddd;
  border-color: #dddddd;
}
.seat {
  margin-left: 6px;
  /* float: left; */
  color: #333333;
  cursor: pointer;
  margin-top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 17px;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  /* line-height: 9px; */

  border-radius: 3px;
}
.space {
  width: 83px;
  display: inline-block;
  height: 20px;
  font-size: 17px;
  text-align: center;
  margin-top: 3px;
}
