.row {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
.screenText {
  width: 70%;
  background-color: #25a9df;
  color: #ffffff;
  padding: 5px;
  border: 0px solid #aaaaaa;
  margin: 0px auto;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 4px solid #1b88b5;
}
.Screen {
  background-color: #f6f6f6;
  height: 800px;
  display: block;
}
.seatingMessage {
  background-color: #ffa500;
  height: 100px;
  text-align: center;
  padding-top: 20px;
}

.seatingSamples {
  background-color: #fff;
  height: 70px;
}
.seatingSample {
  width: 25px;
  height: 25px;
  border-radius: 2px;
  border: 1px solid;
  display: inline-block;
  margin-right: 5px;
}
.list {
  list-style: none;
  text-align: center !important;
  padding: 20px;
  padding-right: 300px;
}
.available {
  border: 1px solid #25a9df;
  background-color: #ffffff;
  color: #333333;
  cursor: pointer;
}
.available:hover {
  background-color: #999;
}
.yourSeat {
  border-color: #25a9df;
  background-color: #25a9df;
}
.unavailable {
  background-color: #dddddd;
  border-color: #dddddd;
}
li {
  margin-right: 10px;
}
.bookingRow {
  width: auto;
  margin-left: 15%;
  height: 30px;
}
.singleBookingRow {
  border-bottom: 1px dashed #ddd;
  width: 800px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 11fr 1fr;
  grid-template-rows: auto;
}
.seat {
  margin-left: 6px;
  /* float: left; */

  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 17px;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  /* line-height: 9px; */

  border-radius: 3px;
}

.Next {
  background-color: #f39c11;
  color: white;
  float: right;
  margin-right: 300px;
  border-color: #df8d0b;
  border-style: solid;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.previous {
  background-color: #f39c11;
  color: white;
  float: left;
  margin-right: 300px;
  border-color: #df8d0b;
  border-style: solid;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.Next .previous:hover {
  background-color: #ad6608;
}
.Next .previous {
  border-color: #df8d0b;
}

.rowKey {
  color: #777777;
  border: 1px solid transparent;
}
@media (max-width: 650px) {
  .seatingSample {
    display: block;
  }
  .seatingSamples {
    height: 200px;
  }
  .list {
    text-align: end;
    padding-right: 80px;
  }
}
