.sectionTitle {
  display: inline-block;
}

.sectionTitle {
  font-family: "Droid Arabic Naskh", Tahoma, Verdana, serif;
  color: #25a9df;
  font-weight: bold;
}
.Next {
  background-color: #f39c11;
  color: white;
  float: right;

  border-color: #df8d0b;
  border-style: solid;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.previous {
  background-color: #f39c11;
  color: white;
  float: left;

  border-color: #df8d0b;
  border-style: solid;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.Cancel {
  background-color: #e84c3d;
  color: white;
  float: left;

  border-color: #e84c3d;
  border-style: solid;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.Cancel:hover {
  background-color: #f12f1e;
}
.Next:hover,
.previous:hover {
  background-color: #d38014;
}
.Next .previous {
  border-color: #df8d0b;
}
