.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-size: 1.5em;
}

.App-title {
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.FontAwesomeIcon {
  height: 30px;
  margin: 10px;
  font-size: 40px;
  cursor: pointer;
  color: white;
}
.social {
  float: right;
  margin-right: 30px;
}
.navBar {
  height: 60px;
  background-color: #555555;
}
@media (max-width: 500px) {
  .navBar {
    height: 150px;
  }
}
.row {
  margin: 30px auto;
  max-width: 62.5rem;
  width: 100%;
}

.Limits {
  width: 300px;
}

.gridContainer {
  display: grid;
  float: none;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}
.gridItem {
  font-size: 0px;
}

@media (min-width: 800px) {
  .Limits {
    width: 600px;
  }
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .Limits {
    width: 900px;
  }
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1300px) {
  .Limits {
    width: 1200px;
  }
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.main {
  /* height: auto; */
  display: flex;
  background-position: inherit;
  background-repeat: no-repeat;
}

.navbar {
  padding: 0px;
  margin: 0px;
}
ul {
  list-style-type: none;
  line-height: 300%;
}
/* .facebook {
  color: #3b5998;
}
.instgram {
  color: #d8307b;
}
.twitter {
  color: #55acee;
}
.youtube {
  color: #ff0000;
} */
.FontAwesomeIcon {
  height: 30px;
  margin: 10px;
  font-size: 40px;
  cursor: pointer;
}
.social {
  float: right;
  margin-right: 30px;
}
li {
  float: right;
}

.navbar li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  cursor: pointer;
  color: #aaaaaa;
  text-transform: none;
  font-family: Cairo;
  font-weight: 700;
  font-size: 18px;
}

.navbar li a:hover {
  background-color: #888888;
  color: #222222;
}

.Input {
  width: 100%;
  /* padding: 10px; */
  z-index: 1000;
  box-sizing: border-box;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}
.InputElement:focus {
  outline: none;
  background-color: #ccc;
}
